
#quemsoueu{
    font-style: italic;
    font-size: 50px;
}

#descricao{
    font-style: italic;
}

.titulos{
    font-family: sans-serif;
}

#primeiroul{
    font-style: italic;
}

.links{
    font-style: italic;
}



body{
    background-color: rgb(146, 146, 146);
}

#Nome{
   text-align: center;
   font-style: italic;
   font-size: 20px;
}

#minhafoto{
    height: 200px;
    border-radius: 100%;
}

#quemsoueu{
    font-size: 17px;
    height: 170px;
    position: absolute;
    top: 165px;
    left: 240px;
}

#foto{
    margin-top: 20px;
    border-radius: 100%;
    background-color: rgba(24, 24, 24, 0.322);
    padding: 10px;
    float: left;
    height: 20px;
    height: 200px;
}

#fixed{
    font-style: italic;
    position: absolute;
    top: 400px;
}

